#!/bin/bash
alias shutdown="sudo shutdown"
alias reboot="sudo reboot"
alias suspend="systemctl suspend"

alias s="sudo"

if [ -e /usr/bin/yay ]; then
    alias yay="nice -n 10 yay"
    alias inst="yay -S"
else
    alias inst="sudo pacman -S"
fi

alias prog="cd /data/programming"

alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias status="sudo systemctl status"
alias restart="sudo systemctl restart"
alias enable="sudo systemctl enable"
alias disable="sudo systemctl disable"

alias ustart="systemctl --user start"
alias ustop="systemctl --user stop"
alias ustatus="systemctl --user status"
alias urestart="systemctl --user restart"
alias uenable="systemctl --user enable"
alias udisable="systemctl --user disable"

if [[ -n "$DISPLAY" ]]; then
    ec() {
        setopt local_options bash_rematch re_match_pcre
        if [[ "$1" =~ '^(.+?):([0-9]+(:[0-9]+)?)$' ]]; then
            local file="${BASH_REMATCH[2]}"
            local line="${BASH_REMATCH[3]}"
            emacsclient -nc "+$line" "$file"
        else
            emacsclient -nc "${@}"
        fi
    }
else
    alias ec='vim'
fi

if which hub >/dev/null 2>&1; then
    alias git=hub
else
    echo "Install hub!"
fi

alias aoe="zathura /data/bible.pdf &!"

if which bat >/dev/null 2>&1; then
    alias cat=bat
else
    echo "Install bat!"
fi

alias pping='prettyping --nolegend'

alias cwt="git worktree prune"
twt() {
    local branch="${2:-feature/$1}"
    if git rev-parse --verify "$branch" >/dev/null 2>/dev/null; then
        git worktree add /tmp/$1 "$branch"
    else
        git worktree add /tmp/$1 -b "$branch"
    fi
    cd /tmp/$1
}


# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll="ls -laF"

alias dc='docker-compose'

alias mpv-pl='mpv --no-resume-playback --profile=audio'
function play() { 
    local mpvargs=()
    while [[ "$1" == "--"* ]]; do
        mpvargs+="$1"
        shift
    done

    local playlist=$1
    shift

    if [[ "$playlist" == "albums" ]]; then
        while true; do
            mpv-pl "${mpvargs[@]}" --playlist=<(beet ls -p album_id:$(beet ls -a -f '$id' "${@}" | shuf -n 1))
        done
    elif [[ "$playlist" == "albums_ordered" ]]; then
        for albumid in "$(beet ls -a -f '$id' "${@}")"; do
            mpv-pl "${mpvargs[@]}" --playlist=<(beet ls -p album_id:"$albumid")
        done
    elif [[ "$playlist" == "songs" ]]; then
        mpv-pl "${mpvargs[@]}" --playlist=<(beet ls -p "$@")
    elif [[ -f "/media/media/Music/Playlists/$playlist.url" ]]; then
        mpv-pl "${mpvargs[@]}" $(cat "/media/media/Music/Playlists/$playlist.url") "$@"
    elif [[ -f  "/media/media/Music/Playlists/$playlist.m3u" ]]; then
        mpv-pl "${mpvargs[@]}" "/media/media/Music/Playlists/$playlist.m3u" "$@"
    elif [[ -d "/media/media/Music/Playlists/$playlist" ]]; then
        mpv-pl "${mpvargs[@]}" "/media/media/Music/Playlists/$playlist" "$@"
    fi
}

function mpv-gjm() {
    local filename="$1"

    mpv "$filename" --sub-file <(mkvextract -r /dev/stderr "$filename" tracks 2:/dev/stdout | sed 's/sparky/biribiri/; s/Sparky/Biribiri/; s/milady/onee-sama/; s/Milady/Onee-sama/')
}


alias fge='ssh soaryn flexget execute --no-cache'

function mkcd () { mkdir -p "$@" && eval cd "\"\$$#\""; }

function spectrum() { sox $1 -n spectrogram -o - | feh -. - }

function update() {
    yay -Syu --devel --noconfirm
    yay -Sc --aur --noconfirm
    $ZDOTDIR/archlinux-update-modules/archlinux-update-modules --dont-ask
    sudo pkgcacheclean -v 2

    antigen selfupdate
    antigen update
}

# This is a function to avoid completion
function dotfiles() {
    if [ -d ~/.local/share/dotfiles ]; then
        local dotfiles_dir=$HOME/.local/share/dotfiles
    else
        local dotfiles_dir=/data/programming/dotfiles/master
    fi

    git --git-dir="$dotfiles_dir" --work-tree="$HOME" "${@}"
}

function gwt() {
    cdpath=$(~/.local/bin/gwt ${@}) || return $?
    test -n "$cdpath" && cd "$cdpath"
    return 0
}

function fork() {
    kitty --detach
}

if which kitty >/dev/null 2>&1; then
    alias ssh="kitty +kitten ssh"
fi
