#!/bin/bash
alias shutdown="sudo shutdown"
alias reboot="sudo reboot"

alias s="sudo"
alias b="background"

if [ -e /usr/bin/pacaur ]; then
    alias pacaur="nice -n 10 pacaur"
    alias inst="pacaur -S"
else
    alias inst="sudo pacman -S"
fi

alias prog="cd /data/programming"

alias fork="background terminology"

alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias status="sudo systemctl status"
alias restart="sudo systemctl restart"
alias enable="sudo systemctl enable"
alias disable="sudo systemctl disable"

alias ustart="systemctl --user start"
alias ustop="systemctl --user stop"
alias ustatus="systemctl --user status"
alias urestart="systemctl --user restart"
alias uenable="systemctl --user enable"
alias udisable="systemctl --user disable"

if [[ -n "$DISPLAY" ]]; then
    alias ec='emacsclient -nc'
else
    alias ec='vim'
fi

alias git=hub

if which bat >/dev/null; then
    alias cat=bat
else
    echo "Install bat!"
fi

alias pping='prettyping --nolegend'

alias cwt="git worktree prune"
twt() {
    local branch="${2:-feature/$1}"
    if git rev-parse --verify "$branch" >/dev/null 2>/dev/null; then
        git worktree add /tmp/$1 "$branch"
    else
        git worktree add /tmp/$1 -b "$branch"
    fi
    cd /tmp/$1
}

alias .X="xmodmap ~/.config/X11/Xmodmap"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll="ls -laF"

alias dc='docker-compose'

alias mpv-pl='mpv --no-resume-playback --profile=audio'
function play() { 
    local mpvargs=()
    while [[ "$1" == "--"* ]]; do
        mpvargs+="$1"
        shift
    done

    local playlist=$1
    shift

    if [[ "$playlist" == "albums" ]]; then
        while true; do
            mpv-pl "${mpvargs[@]}" --no-shuffle --playlist=<(beet ls -ap "$@" | shuf)
        done
    elif [[ "$playlist" == "songs" ]]; then
        mpv-pl "${mpvargs[@]}" --playlist=<(beet ls -p "$@")
    elif [[ -f "/media/media/Music/Playlists/$playlist.url" ]]; then
        mpv-pl "${mpvargs[@]}" $(cat "/media/media/Music/Playlists/$playlist.url") "$@"
    elif [[ -f  "/media/media/Music/Playlists/$playlist.m3u" ]]; then
        mpv-pl "${mpvargs[@]}" "/media/media/Music/Playlists/$playlist.m3u" "$@"
    elif [[ -d "/media/media/Music/Playlists/$playlist" ]]; then
        mpv-pl "${mpvargs[@]}" "/media/media/Music/Playlists/$playlist" "$@"
    fi
}

function mpv-gjm() {
    local filename="$1"

    mpv "$filename" --sub-file <(mkvextract -r /dev/stderr "$filename" tracks 2:/dev/stdout | sed 's/sparky/biribiri/; s/Sparky/Biribiri/; s/milady/onee-sama/; s/Milady/Onee-sama/')
}


alias fge='ssh soaryn flexget execute --no-cache'

function mkcd () { mkdir -p "$@" && eval cd "\"\$$#\""; }

function spectrum() { sox $1 -n spectrogram -o - | feh -. - }

function update() {
    pacaur -Syu --devel --needed --noconfirm --noedit
    $ZDOTDIR/archlinux-update-modules/archlinux-update-modules --dont-ask
    sudo pkgcacheclean -v 2

    antigen selfupdate
    antigen update
}

# This is a function to avoid completion
function dotfiles() {
    if [ -d ~/.local/share/dotfiles ]; then
        local dotfiles_dir=$HOME/.local/share/dotfiles
    else
        local dotfiles_dir=/data/programming/dotfiles/master
    fi

    git --git-dir="$dotfiles_dir" --work-tree=/home/rx14 "${@}"
}

function gwt() {
    cdpath=$(~/.local/bin/gwt ${@}) || return $?
    test -n "$cdpath" && cd "$cdpath"
    return 0
}
