#!/bin/bash
alias shutdown="sudo shutdown"
alias reboot="sudo reboot"
alias halt="sudo halt"
alias poweroff="sudo poweroff"

alias b="background"

alias s="sudo"

alias a="sudo apt"
alias a-i="sudo apt install"
alias a-u="sudo apt update"

alias inst="yaourt -S"

alias prog="cd /data/programming"

alias sc="systemctl"
alias ssc="sudo systemctl"

alias gvim='gvim --servername GVIM --remote-tab'

alias n='gvim'
alias sn="sudo vim"

alias gk='background gitkraken -p `pwd`'

alias st='subl3'
alias st.='st .'

eval "$(hub alias -s)"
alias g='git'

alias gg="background git gui"
alias gu="echo '/bin/sh -c \"git stash; git pull; git stash pop\"'"

alias idea="background intellij-idea-ultimate-edition"
alias idea.="idea \`pwd\`"

alias .X="xmodmap ~/.Xmodmap"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias nova='gr @NOVA'

