[user]
	name = RX14
	email = chris@rx14.co.uk
[core]
	autocrlf = false
	filemode = false
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=3600
[push]
	default = simple

[color]
	ui = auto
[alias]
	root = !pwd
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
