[user]
	name = RX14
	email = chris@rx14.co.uk
[core]
	autocrlf = false
	filemode = false
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=3600
[push]
	default = simple

[color]
	ui = auto
[alias]
	root = !pwd
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
[gui]
	fontui = -family \"Noto Sans\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Inconsolata-dz for Powerline\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
