'welcome':
  'showOnStartup': false
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'projectHome': '/data/programming/'
'editor':
  'invisibles': {}
  'fontFamily': 'inconsolata-dz'
  'fontSize': 16
  'scrollSensitivity': 30
  'tabLength': 4
  'showIndentGuide': true
'tree-view': {}
'linter-ruby':
  'rubyExecutablePath': '/usr/bin/ruby'
'tabs-to-spaces': {}
