configuration {
    modi: "drun,emoji:~/.config/rofi/emoji.sh,run";
    sidebar-mode: true;

    threads: 0;
    matching: "normal";

    show-icons: true;

    kb-mode-next: "Tab";
    kb-element-next: "";
}

@theme "~/.config/rofi/material.rasi"
