"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "gradle-ci"
    ]
    projectHome: "/data/programming/"
  editor:
    fontFamily: "Inconsolata-dz"
    showIndentGuide: true
    preferredLineLength: 100
    tabLength: 4
    scrollSensitivity: 30
    invisibles: {}
  "linter-ruby":
    rubyExecutablePath: "/usr/bin/ruby"
  "exception-reporting":
    userId: "03d05b47-47f7-df0a-5cda-e2ca0e6df189"
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  linter:
    lintOnChange: false
    showErrorInline: true
    showStatusBarWhenCursorIsInErrorRange: true
    lintOnChangeInterval: 60000
    lintOnEditorFocus: false
    lintOnSave: false
".c.source ++ *":
  editor: {}
".c.source":
  editor: {}
".slim.text":
  editor: {}
"exception-reporting":
  userId: "4b26161e-c852-ab3c-bd96-9f94b7f06e6e"
welcome:
  showOnStartup: false
metrics:
  userId: "a262ef23-339b-4675-8132-da64baba3c7c"
core: {}
editor:
  invisibles: {}
  fontFamily: "Inconsolata-dz"
